<h3>{{title}}</h3>
<div *ngIf="isInitialised">
<form [formGroup] = "organisationForm" (ngSubmit)="onSubmit()">
    <table class="full-width">
        <tr>
            <td>
                <mat-form-field class="full-width">
                <input matInput type = "text" formControlName="orgName" 
                placeholder="Organisation Name" [(value)]="this.internalVO.orgName">
                <mat-error *ngIf="nameControl.errors
                  && (nameControl.touched || nameControl.dirty)">
                Field is required and must have at least 2 characters</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>    
            <td>
                <mat-form-field>
                <mat-select [(value)]="this.internalVO.orgType" 
                    formControlName="orgType"
                    placeholder = "Organisation type">
                    <mat-option value="RESEARCH">Research Site</mat-option>
                    <mat-option value="SUPPLIER">Supplier</mat-option>
                </mat-select>
                </mat-form-field>
            </td>
        </tr>  
        <tr>
      <td>
        <mat-form-field class="full-width">
            <input matInput type = "text" formControlName="city"
            placeholder="City" [(value)]="this.internalVO.city">
            <mat-error *ngIf="cityControl.errors 
            && (cityControl.touched || cityControl.dirty)">
            Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
            <input matInput type = "text" formControlName="country"
            placeholder="Country" [(value)]="this.internalVO.country">
            <mat-error *ngIf="countryControl.errors 
            && (countryControl.touched || countryControl.dirty)">
            Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
            <input matInput type = "text" formControlName="region" 
            placeholder="Region"  [(value)]="this.internalVO.region">
            <mat-error *ngIf="regionControl.errors 
            && (regionControl.touched || regionControl.dirty)">
            Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
            <input matInput type = "text" formControlName="street" 
            placeholder="Street"  [(value)]="this.internalVO.street">
            <mat-error *ngIf="streetControl.errors 
            && (streetControl.touched || streetControl.dirty)">
            Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>
      </td>
    </tr>      
    </table>

    <!--Submit button-->
    <div style="margin-bottom: 1em">
        <button type="submit" class="btn btn-success" 
        [disabled]="organisationForm.invalid">Save</button>
    </div>
</form>
</div>