<mat-tab-group>
  <mat-tab label="Patients">
    <br/>

    <!-- the new patient button -->
    <div class="floating-button">
      <a mat-fab routerLink="new" color="primary">
        <mat-icon aria-label="New Researcher">add</mat-icon>
      </a>
    </div>
    <patient-table [allPatientsDataSource]="allPatientsDataSource" adminMode="true"></patient-table>
  </mat-tab>
  <mat-tab label="Organisations">
    <br/>

    <!-- the new organisation button -->
    <div class="floating-button">
      <a mat-fab routerLink="neworg" color="primary">
        <mat-icon aria-label="New Organisation">add</mat-icon>
      </a>
    </div>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="allOrganisationsDataSource">

        <!-- Organisation ID column -->
        <ng-container matColumnDef="OrganisationID">
          <mat-header-cell *matHeaderCellDef> OrganisationID </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgID}} </mat-cell>
        </ng-container>

        <!-- Organisation Name column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgName}} </mat-cell>
        </ng-container>

        <!-- Organisation Address column -->
        <ng-container matColumnDef="Address">
          <mat-header-cell *matHeaderCellDef> Organisation Address </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgInternalAddress}} </mat-cell>
        </ng-container>

        <!-- Organisation Type column -->
        <ng-container matColumnDef="Type">
          <mat-header-cell *matHeaderCellDef> Organisation Type </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgType}} </mat-cell>
        </ng-container>


        <!-- Delete link column -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let organisation">
            <a mat-button (click)="deleteOrganisation(organisation)" color="primary">
              <i class="material-icons">delete_sweep</i>
            </a>
            <a mat-button [routerLink]="['neworg',organisation.orgID]" color="primary">
              <i class="material-icons">mode_edit</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="organisationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: organisationColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Researchers">
    <br/>

    <div class="floating-button">
      <a mat-fab routerLink="newres" color="primary">
        <mat-icon aria-label="New Researcher">add</mat-icon>
      </a>
    </div>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="allResearchersDataSource">

        <!-- Patient ID column -->
        <ng-container matColumnDef="ResearcherID">
          <mat-header-cell *matHeaderCellDef> ResearcherID </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.idResearcher}} </mat-cell>
        </ng-container>

        <!-- Name column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.firstName}} {{researcher.person.lastName}} </mat-cell>
        </ng-container>

        <!-- Gender column -->
        <ng-container matColumnDef="Gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.gender}}</mat-cell>
        </ng-container>

        <!-- Birthdate column -->
        <ng-container matColumnDef="Birthdate">
          <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.birthDetails.dateOfBirth}}</mat-cell>
        </ng-container>

        <!-- Action link column -->
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let researcher">
            <a mat-button [routerLink]="['/view',researcher.idPatient]" color="primary">
              <i class="material-icons">pageview</i>
            </a>
            <a mat-button [routerLink]="['newres',researcher.idResearcher]" color="primary">
              <i class="material-icons">mode_edit</i>
            </a>
            <a mat-button (click)="deleteResearcher(researcher)" color="primary">
              <i class="material-icons">delete_sweep</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="researcherColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: researcherColumns;"></mat-row>

      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Agents">
    <br/>

    <div class="floating-button">
      <a mat-fab routerLink="newagent" color="primary">
        <mat-icon aria-label="New Agent">add</mat-icon>
      </a>
    </div>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="allAgentsDataSource">

        <!-- Patient ID column -->
        <ng-container matColumnDef="AgentID">
          <mat-header-cell *matHeaderCellDef> AgentID </mat-header-cell>
          <mat-cell *matCellDef="let agent"> {{agent.idAgent}} </mat-cell>
        </ng-container>

        <!-- Name column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let agent"> {{agent.person.firstName}} {{agent.person.lastName}} </mat-cell>
        </ng-container>

        <!-- Gender column -->
        <ng-container matColumnDef="Gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let agent"> {{agent.person.gender}}</mat-cell>
        </ng-container>

        <!-- Birthdate column -->
        <ng-container matColumnDef="Birthdate">
          <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
          <mat-cell *matCellDef="let agent"> {{agent.person.birthDetails.dateOfBirth}}</mat-cell>
        </ng-container>

        <!-- Action link column -->
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let agent">
            <a mat-button [routerLink]="['newagent',agent.idAgent]" color="primary">
              <i class="material-icons">mode_edit</i>
            </a>
            <a mat-button (click)="deleteAgent(agent)" color="primary">
              <i class="material-icons">delete_sweep</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="agentColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: agentColumns;"></mat-row>

      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>