<div class="center-div">
    <mat-card class="description-card">
        <mat-card-header>
            <h2 class="marginAutoLR">Create a new trial</h2>
        </mat-card-header>
    </mat-card>
</div>
<div *ngIf="isInitialised">
    <form [formGroup]="trialForm">
        <mat-form-field style="width: 75%">
            <input matInput type="text" formControlName="name" placeholder="Clinical study name" [(value)]="this.trial.studyName">
            <mat-error *ngIf="nameControl.errors
                                  && (nameControl.touched || nameControl.dirty)">
                Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 75%">
            <input matInput type="text" placeholder="Search a research center" [(value)]="searchQuery">
        </mat-form-field> &nbsp;
        <a mat-button (click)="search()">Search</a>


        <div *ngIf="searchActivate">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of researchSites">
                        <td>
                            {{res.orgName}}
                        </td>
                        <td>
                            <a mat-button (click)="onSelect(res)">Select</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="selectionActivate">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h5>Organisation {{researchSiteSelection.orgName}} selected</h5>
                        </td>
                        <td>
                            <a mat-button (click)="onCancel()">Cancel selection</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Selected sponsors:</h3>
        <ul>
            <li *ngFor="let sponsor of selectedSponsors">
                <h4>{{sponsor.orgName}} &nbsp;
                    <button mat-raised-button (click)="removeSponsor(sponsor)">Remove</button>
                </h4>

            </li>
        </ul>

        <mat-form-field style="width: 75%;">
            <input type="text" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Add a sponsoring organisation">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let spon of filteredOptions | async" [value]="spon">{{spon.orgName}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>&nbsp;&nbsp;
        <button mat-raised-button (click)="addSponsor()">Select</button>

        <!--Submit button-->
        <div style="margin-bottom: 1em">
            <button type="submit" style="float: left, down;" (click)="onSubmit()" mat-raised-button class="btn btn-success" [disabled]="trialForm.valid">Save</button>
        </div>
    </form>
</div>