<mat-tab-group>
  <mat-tab label="Patients">
    <br/>

    <!-- the new patient button -->
    <a mat-raised-button routerLink="new" style="float: right;" color="primary">Add Patient</a>

    <br/>
    <br/>
    <patient-table [allPatientsDataSource]="allPatientsDataSource" adminMode="true"></patient-table>
  </mat-tab>
  <mat-tab label="Organisations">
    <br/>

    <!-- the new organisation button -->
    <a mat-raised-button routerLink="neworg" style="float: right;" color="primary">Add Organisation</a>

    <br/>
    <br/>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="allOrganisationsDataSource">

        <!-- Organisation ID column -->
        <ng-container matColumnDef="OrganisationID">
          <mat-header-cell *matHeaderCellDef> OrganisationID </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgID}} </mat-cell>
        </ng-container>

        <!-- Organisation Name column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgName}} </mat-cell>
        </ng-container>

        <!-- Organisation Address column -->
        <ng-container matColumnDef="Address">
          <mat-header-cell *matHeaderCellDef> Organisation Address </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgInternalAddress}} </mat-cell>
        </ng-container>

        <!-- Organisation Type column -->
        <ng-container matColumnDef="Type">
          <mat-header-cell *matHeaderCellDef> Organisation Type </mat-header-cell>
          <mat-cell *matCellDef="let organisation"> {{organisation.orgType}} </mat-cell>
        </ng-container>

        <!-- Edit link column -->
        <ng-container matColumnDef="Edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let organisation">
            <a [routerLink]="['neworg',organisation.orgID]">
              <i class="material-icons">mode_edit</i>
            </a>
          </mat-cell>
        </ng-container>

        <!-- Delete link column -->
        <ng-container matColumnDef="Delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let organisation">
            <a (click)="deleteOrganisation(organisation)">
              <i class="material-icons">delete_sweep</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="organisationColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: organisationColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Researchers">
    <br/>

    <!-- the new patient button -->
    <a mat-raised-button routerLink="newres" style="float: right;" color="primary">Add Researcher</a>

    <br/>
    <br/>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="allResearchersDataSource">

        <!-- Patient ID column -->
        <ng-container matColumnDef="ResearcherID">
          <mat-header-cell *matHeaderCellDef> ResearcherID </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.idResearcher}} </mat-cell>
        </ng-container>

        <!-- Name column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.firstName}} {{researcher.person.lastName}} </mat-cell>
        </ng-container>

        <!-- Gender column -->
        <ng-container matColumnDef="Gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.gender}}</mat-cell>
        </ng-container>

        <!-- Birthdate column -->
        <ng-container matColumnDef="Birthdate">
          <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
          <mat-cell *matCellDef="let researcher"> {{researcher.person.birthDetails.dateOfBirth}}</mat-cell>
        </ng-container>

        <!-- View link column -->
        <ng-container matColumnDef="View">
          <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
          <mat-cell *matCellDef="let researcher">
            <a [routerLink]="['/view',researcher.idPatient]">
              <i class="material-icons">pageview</i>
            </a>
          </mat-cell>
        </ng-container>

        <!-- Edit link column -->
        <ng-container matColumnDef="Edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let researcher">
            <a [routerLink]="['newres',researcher.idResearcher]">
              <i class="material-icons">mode_edit</i>
            </a>
          </mat-cell>
        </ng-container>

        <!-- Delete link column -->
        <ng-container matColumnDef="Delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let researcher">
            <a (click)="deleteResearcher(researcher)">
              <i class="material-icons">delete_sweep</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="researcherColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: researcherColumns;"></mat-row>

      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>