<h3>{{title}}</h3>
<div *ngIf="isInitialised">
    <form [formGroup]="trialForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="name" placeholder="Clinical study name" [(value)]="this.trial.studyName">
            <mat-error *ngIf="nameControl.errors
                                  && (nameControl.touched || nameControl.dirty)">
                Field is required and must have at least 2 characters</mat-error>
        </mat-form-field>
        <table>
            <td>
                <input matInput type="text" placeholder="Search a research center" [(value)]="searchQuery">
            </td>
            <td>
                <a mat-button (click)="search()">Search</a>
            </td>
        </table>
        <div *ngIf="searchActivate">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of researchSites">
                        <td>
                            {{res.orgName}}
                        </td>
                        <td>
                            <a mat-button (click)="onSelect(res)">Select</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="selectionActivate">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h5>Organisation {{researchSiteSelection.orgName}} selected</h5>
                        </td>
                        <td>
                            <a mat-button (click)="onCancel()">Cancel selection</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Submit button-->
        <div style="margin-bottom: 1em">
            <button type="submit" class="btn btn-success" 
            [disabled]="trialForm.valid">Save</button>
        </div>
    </form>
</div>