<div>
    <h2>Form fields definition</h2>
</div>
<div>
    <mat-form-field class="max-width">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let header of dataHeaders" [selectable]="selectable" [removable]="removable" (removed)="remove(header)">
                {{header}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Define the names for the for input fields..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>
</div>
<div style="text-align: center;">
    <h1>Form preview: </h1>
</div>
<br/>
<div class="max-width">

    <div *ngFor="let header of dataHeaders">
        <mat-form-field class="max-width">
            <input matInput type="text" [disabled]="true" placeholder="{{header}}" />
        </mat-form-field>
    </div>

</div>
<br/>
<div>
    <a mat-raised-button click="onSave()" style="float: right;" color="primary">Save</a>
</div>