<div *ngIf="displayTable">
    <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="allPatientsDataSource">

            <!-- Patient ID column -->
            <ng-container matColumnDef="PatientID">
                <mat-header-cell *matHeaderCellDef> PatientID </mat-header-cell>
                <mat-cell *matCellDef="let patient"> {{patient.idPatient}} </mat-cell>
            </ng-container>

            <!-- Name column -->
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let patient"> {{patient.person.firstName}} {{patient.person.lastName}} </mat-cell>
            </ng-container>

            <!-- Gender column -->
            <ng-container matColumnDef="Gender">
                <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                <mat-cell *matCellDef="let patient"> {{patient.person.gender}}</mat-cell>
            </ng-container>

            <!-- Birthdate column -->
            <ng-container matColumnDef="Birthdate">
                <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
                <mat-cell *matCellDef="let patient"> {{formatDate(patient.person.birthDetails.dateOfBirth)}}</mat-cell>
            </ng-container>

            <!-- View link column -->
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let patient">
                    <a mat-button [routerLink]="['/view',patient.idPatient]" color="primary">
                        <i class="material-icons">pageview</i>
                    </a>
                    <a mat-button (click)="openFormSelection(patient)" color="primary" *ngIf="!adminMode">
                        <i class="material-icons">assignment</i>
                    </a>
                    <a mat-button [routerLink]="['new',patient.idPatient]" *ngIf="adminMode" color="primary">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a mat-button (click)="deletePatient(patient)" *ngIf="adminMode" color="primary">
                        <i class="material-icons">delete_sweep</i>
                    </a>
                </mat-cell>
            </ng-container>

            <!-- Enroll link column -->
            <ng-container matColumnDef="Enroll" *ngIf="enrol">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let patient">
                    <button mat-raised-button color="primary" (click)="enrollPatient(patient)">
                        Enrol
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>
</div>
<div *ngIf="displayForm">
    <custom-form [idPatient]="patientSelection" [idForm]="formSelection"></custom-form>
</div>