<div *ngIf="displayTable">
    <div class="center-div">
        <mat-card style="width:50%; height: 65vh;">
            <mat-card-header>
                <mat-card-title>
                    <h1>Add users</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h2></h2>
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                <div>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <mat-form-field class="input-field-full-width">
                                        <input matInput placeholder="Researcher name" [(ngModel)]="searchQuery">
                                    </mat-form-field>
                                </td>
                                <td width="40%">
                                    <button mat-raised-button (click)="search()" color="primary">Search</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
                <researcher-table [dataSource] = "allUsersDataSource" [activeMode] = "false" [idTrial]="idTrial"></researcher-table>
            </mat-card-content>
        </mat-card>
        &nbsp;
        <mat-card style="width: 50%; height: 65vh;">
            <mat-card-header>
                <mat-card-title>
                    <h1>Active users</h1>
                </mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <br/>
                <br/>
                <br/>
                <br/>
              <researcher-table [dataSource] = "usersDataSource" [activeMode] = "true" [idTrial]="idTrial"></researcher-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>