<mat-toolbar _ngcontent-c0="" color="primary">
    <mat-toolbar-row _ngcontent-c0>
        <span>
            <a mat-button (click)="onClick()">Clinic Trials App</a>
        </span>
        <span>
            <button *ngIf="getUsername()" mat-button [matMenuTriggerFor]="menu">Menu
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </span>
        <span class="flex-fill"></span>
        <div *ngIf="getUsername()">
            <span>
                {{getUsername()}}
            </span>
            <button mat-button color="accent" (click)="logout()">Log Out </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button *ngIf="!isAdmin()" mat-menu-item routerLink="/trial">Trials</button>
    <button *ngIf="isAgent()" mat-menu-item routerLink="/agent">Agent</button>
    <button *ngIf="isSponsor()" mat-menu-item routerLink="/sponsor">Sponsor</button>
    <button *ngIf="isAdmin()" mat-menu-item routerLink="/administration">Administration</button>
</mat-menu>