<div class="docs-primary-header component-page-header">
  <h1 focusOnNavigation>All trials</h1>
</div>

<br/>
<div>
  <a mat-raised-button routerLink="new" style="float: right;" color="primary">Start a new trial</a>
  <br/>
  <br/>
</div>
<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="allTrialsDataSource">

    <!-- Trial ID column -->
    <ng-container matColumnDef="StudyID">
      <mat-header-cell *matHeaderCellDef> StudyID </mat-header-cell>
      <mat-cell *matCellDef="let trial"> {{trial.idTrial}} </mat-cell>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let trial"> {{trial.studyName}} </mat-cell>
    </ng-container>

    <!-- Institute column -->
    <ng-container matColumnDef="Institute">
      <mat-header-cell *matHeaderCellDef> Institute </mat-header-cell>
      <mat-cell *matCellDef="let trial"> {{trial.organiser.name}}</mat-cell>
    </ng-container>

    <!-- Birthdate column -->
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let trial"> {{trial.status}}</mat-cell>
    </ng-container>

    <!-- View link column -->
    <ng-container matColumnDef="Access">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let trial">
        <a [routerLink]="['/trial/view',trial.idTrial]">
          <i class="material-icons">pageview</i>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="trialColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: trialColumns;"></mat-row>

  </mat-table>
</div>