@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
.description-card {
    width: 95%;
  }
  .description-card-small {
    width: 40%;
  }
  .center-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.center-content {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

  .floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
  }
  header[_ngcontent-c0] {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}


mat-toolbar[_ngcontent-c0] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.mat-toolbar-multiple-rows {
  min-height: 64px;
}

.mat-toolbar-multiple-rows {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

  .container {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}
.container-table {

	margin: 0 auto;
}
 .marginAutoLR
{
    margin-right:auto;
    margin-left:auto;
}

.input-field-width {
    width: 75%;
  }

  .input-field-full-width {
    width: 100%;
  }

  .flex-fill {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }