<div *ngIf="isInitialised">

  <div class="center-div">
        <mat-card class="description-card">
          <mat-card-header class="marginAutoLR">
            <mat-card-title><h2>{{title}}</h2></mat-card-title>
            <mat-card-subtitle  *ngIf="idPatient"><h3>Data colected for patient with ID = {{idPatient}}  <button mat-button color="primary" (click)="viewPatient(idPatient)"> View Patient </button></h3> 
             
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
    
    
    </div>
    <br/>
    <div *ngFor="let formEntry of customForm.formMeta">
        <mat-divider></mat-divider>
        <br/>
        <br/>
        <div *ngIf="formEntry.entryType == 0">
            <mat-form-field class="input-field-width">
                <input matInput placeholder="{{formEntry.entryName}}" [(ngModel)]="formEntry.value" ngDefaultControl>
            </mat-form-field>
        </div>
        <div *ngIf="formEntry.entryType == 1">
            <mat-radio-group>
                <table>
                    <thead>{{formEntry.entryName}}</thead>
                    <tbody>
                        <tr>
                            <div>
                                <mat-radio-group [(ngModel)]=formEntry.value>
                                    <td *ngFor="let option of formEntry.entryOptions">
                                        <mat-radio-button value="{{option}}">{{option}}</mat-radio-button>
                                    </td>
                                </mat-radio-group>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </mat-radio-group>
        </div>
        <div *ngIf="formEntry.entryType == 2">
            <mat-form-field class="input-field-width">
                <mat-select placeholder="{{formEntry.entryName}}" [(ngModel)]="formEntry.value">
                    <mat-option *ngFor="let option of formEntry.entryOptions" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <br/>
    <table *ngIf="!disabled">
        <tbody>
            <tr>
                <td>
                    <button mat-raised-button (click)="save()" style="float: right, down;" color="primary">Save</button>
                </td>
                <td>
                    <button mat-raised-button (click)="cancel()" style="float: right, down;" color="primary">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="disabled">
            <button mat-raised-button (click)="cancel()" style="float: right, down;" color="primary">Close</button>
    </div>
</div>